<app-home></app-home>
<hr>
<br>
<br><br><br><br>
<div style="margin-bottom: 100px;" style="background-color:honeydew" class="container">
<div class="container" style="font-family:Verdana, Geneva, Tahoma, sans-serif">
<h4><b style="font-style: initial;">Dongle:</b></h4>
<hr>
<p style="margin-bottom: 30px;">
    A WiFi Dongle is a pocket-size device that connects to your smartphone, tablet or laptop and allows you to access the internet while you’re traveling. 
    It is portable, easy to carry, convenient to use, and very affordable.
    <br><br>
<b style="font-style: initial;"> Why to choose dongle?</b>
    Allows you to access the internet from anywhere, anytime.
    Extremely lightweight and portable. The pocket-sized device can be carried wherever you go.
    You can use the WiFi Dongle abroad.
    Convenient to use. No wires or connections simply plus and play.
    Can be bought or rented for short-term use.
    Perfect for working on the go.
    Useful for work-related emergencies.
</p>
</div>
</div>