<app-home></app-home>
<hr>
<br>
<br><br><br><br>
<div style="margin-bottom: 100px;" style="background-color:honeydew" class="container">
<div class="container" style="font-family:Verdana, Geneva, Tahoma, sans-serif">
<h4><b style="font-style: initial;">Postpaid:</b></h4>
<hr>
<p style="margin-bottom: 30px;">
    Postpaid  for which service is provided by a prior arrangement with a mobile network operator. 
    The user in this situation is billed after the fact according to 
    their use of mobile services at the end of each month.
    <br><br>
<b style="font-style: initial;"> Why to choose postpaid?</b>
    Typically, the customer's contract specifies a limit or "allowance" of minutes, text messages etc., 
    and the customer will be billed at a flat rate for any usage equal to or less than that allowance. Any usage above that limit incurs extra charges. Theoretically,
    a user in this situation has no limit on use of mobile services and, as a consequence, unlimited credit. This service is better for people with a secured income.

    You get a detailed bill every month with the postpaid plan and can also use that proof of address at several places.
</p>
</div>
</div>