h2{  
    text-align: center;  
    color: #277582;  
    padding: 20px;  
}

#postpaid
{  
    width: 490px;  
    overflow: hidden;  
    margin: auto;  
    margin: 20 0 0 450px;  
    padding: 80px;  
    background: #23463f;  
    border-radius: 15px ;  
      
}  
label{  
    color: #08ffd1;  
    font-size: 17px;  
}  
#phoneno{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#OTP{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
  
span{  
    color: white;  
    font-size: 17px;  
}  
