<app-home></app-home>
<hr>
<br>
<br><br><br><br>
<div style="margin-bottom: 100px;" style="background-color:honeydew" class="container">
<div class="container" style="font-family:Verdana, Geneva, Tahoma, sans-serif">
<h4><b style="font-style: initial;">Prepaid:</b></h4>
<hr>
<p style="margin-bottom: 30px;">
    Prepaid mobile phone plans are bill-less options that are paid upfront via
    a recharge purchased in-store, online, or set up with auto-recharge.
    In Prepaid you recharge your phone and you get the balance or your calling pack is activated which
    comes with fixed validity and if you consume it earlier you just need to recharge again.The service will stop immediately as the package value or validity expires.
    <br><br>
<b style="font-style: initial;"> Why to choose prepaid?</b>
    You can opt for any type of pack and control your spending. The choices and packs availability is much higher.
    The flexibility of changing your packs and options is huge in prepaid.
    <br><br>
</p>
<hr>
</div>
</div>